{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <td>{{jogo.nome}}</td>
                    <td>{{jogo.categoria}}</td>
                    <td>{{jogo.console}}</td>
                </tr>   
                  {% endfor %}     
            </tbody>
        </table>
    </div>

    <div class="row" name = 'butons'>
      <div class="col">
        <h5 class="text-start"></h5>
      </div>
      <div class="col">
        <a href="{{url_for('logout')}}"><input type="button" class="btn btn-primary dist" value=LOGOUT></a>
      </div>
      <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{url_for('login')}}"><input type="button" class="btn btn-primary dist" value=LOGIN></a>
        </div>   
      </div>
    </div>


{% endblock %}